API_BASE_URL=http://10.0.2.2:5000/api
OSRM_BASE_URL=https://router.project-osrm.org
MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
DEFAULT_AVATAR_URL=https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png
